
@{
    ViewData["Title"] = "AgregarImagenPerfilJugador";
    Layout = "~/Views/Shared/_LayoutJugadores.cshtml";
}
<div class="container containerImagenJugador">
    <div class="panel panel-primary" style="border:1px solid black;">
        <div class="panel-heading">
            <h4 style="text-align:left;"><img id="imgSalida" class="img-circle" width="80" height="80" src="~/images/usuario.png" style="background-size:cover;background-attachment:fixed;" /> <br/><br /> Agregar Imagen de perfil</h4>
        </div>
        <div class="panel-body">
            <form id="FormImagen" asp-action="SubirImagenJugador" class="form-group form-inline" asp-controller="Personas" method="POST" enctype="multipart/form-data">
                <div class="btn-group">

                    <input id="InputImagen" class="btn btn-default form-control" type="file" name="ImageFile" required">

                    <input id="BtnSubirImagen" type="submit" class="btn btn-xs btn-success form-control" value="Subir" />
                </div>
                <p>@TempData["Mensaje"]</p>
            </form>
        </div>
    </div>

</div>


<div id="ModalImagen" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body mb">
                <div>
                    <p>Cargando Imagen</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>

</div>

@section Scripts{ 
<script>
    $("#BtnSubirImagen").click(function (event) {

        $("#ModalImagen").modal();

    });
    </script>

}
