
@{
    ViewData["Title"] = "AgregarImagenPerfilJugador";
    Layout = "~/Views/Shared/_LayoutJugadores.cshtml";
}
<div class="container containerImagenJugador">
    <div class="panel panel-default" style="border:1px solid black;">
        <div class="panel-heading">

            <div class="panel-title"><h4 style="padding-left:5px;text-align:left;"><img id="imgSalida" width="70" height="70" src="~/images/usuario.png" style="background-size:contain;" />  Agregar Imagen de perfil</h4></div>
        </div>
        <div class="panel-body">
            <form id="FormImagen" asp-action="SubirImagenJugador" class="form-group form-inline" asp-controller="Personas" method="POST" enctype="multipart/form-data">
                <div class="btn-group">

                    <input id="InputImagen" class="btn btn-default form-control" type="file" name="ImageFile" required">

                    <input id="BtnSubirImagen" type="submit" class="btn btn-xs btn-success form-control" value="Subir" />
                </div>
                <p>@TempData["Mensaje"]</p>
            </form>
        </div>
    </div>

</div>