

<div id="containerEmpleadoAlta" ng-app="" class="container" style="margin-top:20px;">
    <div class="panel panel-primary">
        <div class="panel-heading" style="padding-bottom:0px;">
            <img class="img-responsive" width="40" src="~/images/usuarioSinfond.png" />  <h3>Empleados</h3>
           
        </div>
        <div class="panel-body">
           
            <div class="row">
                <ul class="nav nav-tabs ">
                   
                    <li role="presentation"> <a asp-action="RegistrarEmpleado" asp-controller="Personas">Alta</a></li>
                    <li role="presentation" class="active"><a id="ConsultaEmpleado" asp-action="Index" asp-controller="Personas">Consulta</a></li>
                </ul>
                <br />
                <div class="col-sm-12">
                    <form class="form-group form-inline">
                        <input id="FiltroEmp" type="text"  class="form-control" placeholder="Filtro(Nombre o Apellido)" /><button id="BtnBuscarEmp" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                </div>
                <div id="CEmpleados" class="col-sm-12">
                    
                 
                </div>

            </div>
        </div>

    </div>
</div>
<div id="ModalDomicilio" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Domicilio</h4>
            </div>
            <div id="ModalBodyDomicilio" class="modal-body">
                <form class="form-group">

                    <div class="row">
                        <div class="col-sm-6"><label>Calle:</label><input id="ModalCalle" type="text" class="form-control" /></div>
                        <div class="col-sm-6"><label>Numero:</label><input id="ModalNumero" type="text" class="form-control" /></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6"><label>Localidad:</label><input id="ModalLocalidad" type="text" class="form-control" /></div>
                        <div class="col-sm-6"><label>Barrio:</label><input id="ModalBarrio" type="text" class="form-control" /></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/js/Personas.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
}

