
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="panel-body" style="min-height:85vh;padding:0px;margin:0px;">
        <p><h4>Referencia de colores: <i class="fas fa-palette" style="color:CadetBlue"></i>Reservas   <i class="fas fa-palette" style="color:orangered"></i>Torneos  <i class="fas fa-palette" style="color:dimgrey"></i>Clases Particulares</h4></p>
        <div id="calendar"></div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Agenda.js"></script>
}
