@model BOCHAS.Models.AlquilerCancha
@{
    ViewData["Title"] = "NuevaReserva";
    Layout = "~/Views/Shared/_Layout.cshtml";

    BOCHASContext _context = new BOCHASContext();
    var cliente = (from p in _context.Persona where p.FechaBaja == null && p.Tipo == "JUGADOR" select new { Id = p.Id, Client = p.Apellido + " " + p.Nombre + " N° Doc: " + p.NroDocumento }).ToList().OrderBy(p => p.Client);
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>jQuery UI Autocomplete - Combobox</title>

<link href="~/lib/jquery-ui-1.12.1.custom/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" />
<style>
    .custom-combobox {
        position: relative;
        display: block;
    }

    .custom-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
    }

    .custom-combobox-input {
        margin: 0;
        padding: 5px 10px;
        background-color: darkred;
        color: white;
        width: 100%;
        background-color: rgba(172, 44, 44, 0.9);
    }
</style>
<div class="panel panel-primary" style="padding:0px;margin:0px;">
    <div class="panel-heading" style="padding-bottom:0px;margin:0px;">
        <h3 style="padding:0px;margin:0px;margin-bottom:4px;"><i class="fas fa-clipboard-list"></i> Alquiler de Cancha</h3>

    </div>
    <div class="panel-body">
        <div class="row">
            <ul class="nav nav-tabs ">
                <li role="presentation" class="active"> <a asp-action="NuevaReserva" asp-controller="AlquilerCanchas">Nueva Reserva</a></li>
                <li role="presentation"><a id="ConsultaReserva" asp-action="ConsultarReservas" asp-controller="AlquilerCanchas">Consulta de Reservas</a></li>
                <li role="presentation"><a asp-action="Index" asp-controller="AlquilerCanchas">Consulta Particular</a></li>
            </ul>
        </div>
        <h3 style="border-bottom:1px solid rgba(0, 14, 44, 0.3);padding:2px 2px 2px 2px;">General</h3>
        <div class="row">
            <div class="col-sm-4"><label for="emp">Encargado</label> <input id="emp" type="text" class="form-control" value="@ViewData["empleado"].ToString()" readonly /></div>
            <div class="col-sm-2" style="display:none;"><label for="FecP">Fecha de Pedido</label> <input id="FecP" type="text" class="form-control" value="@DateTime.Now.Date.ToString("yyyy-MM-dd")" readonly /></div>
            <div class="col-sm-2"><label for="FecR">Fecha de Reserva</label> <input id="FecR" type="date" class="form-control" /><input id="HR" type="time" value="@DateTime.Now.ToString("HH:mm")" style="display:none" readonly /></div>
            <div class="col-sm-1" style="padding-top:23px;padding-left:0px;"> <button id="BtnAgenda" class="btn btn-sm btn-default" title="Información de horarios"><i class="fa fa-calendar"></i></button></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <label for="emp">Jugador</label>
                <select id="IdCliente" asp-for="IdCliente" class="btn btn-sm form-control " style="width:100%;" asp-items="@{ new SelectList(cliente, "Id", "Client" );}"></select>
            </div>
            <div class="col-sm-2"><label for="HD">Hora Desde</label><input type="time" id="HD" class="form-control" /></div>
            <div class="col-sm-2"><label for="HH">Hora Hasta</label><input type="time" id="HH" class="form-control" /></div>
            <div class="col-sm-5" style="padding-top:25px;"><div class="btn-group btn-group-sm form-inline" role="group" aria-label="..."><input id="BtnOcupadas" type="button" class="btn btn-sm btn-primary form-control" value="Ver Horarios Ocupados" /><input id="BtnValida" type="button" class="btn btn-sm btn-success form-control" value="Comprobar Disponibilidad" /></div></div>
        </div>

        <h3 style="border-bottom:1px solid rgba(0, 14, 44, 0.3);padding:2px 2px 2px 2px;"> Seleccionar Canchas</h3>
        <div class="row">
            <div class="col-sm-12">

                <table class="table table-striped">
                    <thead><tr><td style="display:none">Id</td><td>Número</td><td>Nombre</td><td>Descripción</td><td>Seleccionar</td></tr></thead>
                    <tbody id="Canchas"></tbody>
                </table>
                <img id="ImgLoad" class="img-responsive" width="180" src="~/images/extras/dots-2.gif" style="display:none;" />
            </div>


        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <div style="float:right;"><input id="RegistrarReserva" class="btn btn-sm btn-info" value="Aceptar" /><a asp-action="NuevaReserva" class="btn btn-sm btn-default " asp-controller="AlquilerCanchas">Limpiar</a></div>
            </div>
        </div>

    </div>
</div>

<div id="ModalHorarios" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background:-webkit-gradient(linear, 96% 73%, 0% 0%, from(#AD9085), to(#CE2029));padding-bottom:0px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 style="color:white;padding:0px;"><i class="fa fa-clock"></i>Horarios Ocupados</h4>
            </div>
            <div id="ModalHorariosBody" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>
<div id="ModalHorariosProfesor" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background:-webkit-gradient(linear, 96% 73%, 0% 0%, from(#AD9085), to(#CE2029));padding-bottom:0px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 style="color:white;padding:0px;"><i class="fa fa-clock"></i> Información de horarios</h4>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-sm-12" style="border-left:1px solid grey;height:500px;overflow-y: auto;">
                        <div id="DivCalendar">

                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>
<div id="ModalEvento" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background:-webkit-gradient(linear, 96% 73%, 0% 0%, from(#AD9085), to(#CE2029));">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Información del Evento</h4>
            </div>
            <div id="EventoBody" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>
@section Scripts{

  
    <script src="~/lib/jquery-ui-1.12.1.custom/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="~/js/AlquilerDeCanchas.js"></script>
    <script src="~/js/AutoCompletarCombos-UI.js"></script>

}

