@model BOCHAS.Models.ClaseParticular
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/jquery-ui-1.12.1.custom/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" />
<style>
    .custom-combobox {
        position: relative;
        display: block;
    }

    .custom-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
    }

    .custom-combobox-input {
        margin: 0;
        padding: 5px 10px;
        background-color: darkred;
        color: white;
        width: 100%;
        background-color: rgba(172, 44, 44, 0.9);
    }
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    * html .ui-autocomplete {
        height: 100px;
    }
</style>
<div class="panel panel-primary">
    <div class="panel-heading" style="padding-bottom:0px;">
        <h3 style="padding:0px;margin:0px;margin-bottom:4px;"><i class="fas fa-users"></i> Clases Particulares</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <ul class="nav nav-tabs ">
                <li role="presentation"> <a asp-action="Index" asp-controller="ClaseParticulars">Nueva Clase</a></li>
                <li role="presentation" class="active"><a id="ConsultarClase" asp-action="ConsultarClases" asp-controller="ClaseParticulars">Consulta de Clases</a></li>
            </ul>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <label class="control-label">Alumno</label>
                <select id="IdCliente" asp-for="IdJugador" class="form-control" asp-items="ViewBag.IdJugador"></select>
            </div>
            <div class="col-sm-5">
                <div class="col-sm-5"><label>Fecha desde:</label><input type="date" class="form-control" id="fechaD" style="font-size:12px;" /></div>
                <div class="col-sm-5"><label>Fecha hasta:</label><input type="date" class="form-control" id="fechaH" style="font-size:12px;" /></div>
                <div class="col-sm-1" style="padding:0px;padding-top:22px;"> <button id="BtnConPart" type="button" class="btn btn-sm btn-info "><i class="fa fa-search"></i></button></div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <img id="ImgLoad" src="~/images/extras/dots-2.gif" width="200" style="display:none;" />
                <div id="TablaCobros">
                </div>
            </div>
        </div>
    </div>
    @{ if (TempData["Resultado"] != null)
        {

            <input id="Resultado" value="@TempData["Resultado"]" style="display:none" />
            <input id="NClaseFinalizada" value="@TempData["NClaseFinalizada"]" style="display:none" />
        }
    }
</div>



<div id="ModalCobro" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background:-webkit-gradient(linear, 96% 73%, 0% 0%, from(#AD9085), to(#CE2029));">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;"><i class="far fa-credit-card"></i>  Cobro Clase Particular</h4>
            </div>
            <div class="modal-body mb">


            </div>
        </div>
    </div>

</div>
<div id="ModalPdf" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body mb">
                <div id="GeneraPDF">
                    <p>Generando PDF</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        </div>
                    </div>
                </div>
                <object type="application/pdf" id="VisorPDF" src="" style="width:100%; height:100%;display:none;background-color:#515151;"></object>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>

</div>
<div id="ModalServicioA" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form>
            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body SA" style="padding-bottom:0px;">



                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-success" value="Aceptar" onclick="RegistrarServiciosConsumidos()">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </form>
    </div>


</div>
@section Scripts{


    <script src="~/lib/jquery-ui-1.12.1.custom/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="~/js/AutoCompletarCombos-UI.js"></script>
    <script src="~/js/ClasesParticulares.js"></script>
    <script src="~/js/Cobros.js"></script>
}

